.table {
  /* display: flex;
  flex-direction: column; */
  /* overflow-x: scroll; */
  overflow-x: scroll;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.rowContent {
  display: flex;
  flex-direction: column;
}

.dataSlice {
  display: inline-flex;
}

.cell {
  border: 1px black solid;
  text-align: center;
}

.headerRow {
 
}

.tableRowHeader {
  min-width: 225px;
  max-width: 225px;
  padding-left: 20px;
  border: 1px black solid;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.tableRowHeaderContent {
  display: flex;
  flex-direction: row;
}

.tableRowHeader h4 {
  display: inline;
}